<div class="grid-monitor">
  <div class="sr5-biomon-header">
    <div class="image">
      <!--Image sr5-biomon-header-->
    </div>
    <div class="sr5-biomon-label">
      <!-- sr5-biomon-label sr5-biomon-header-->
      <h3>
        Biomonitor
      </h3>
    </div>
  </div>
  <!--Actor Part-->
  <div class="sr5-biomon-header-box">
    <div class="sr5-biomon-label sr5-biomon-top">Character</div>
    <div class="sr5-biomon-label sr5-biomon-top">Statuses</div>
  </div>
  {{#each actors}}
  <div class="sr5-biomon-actors-box">
    <!--<div class="sr5-biomon-sr5-biomon-label sr5-biomon-name sr5-biomon-start">
      Character: 
    </div>-->
    <!--Acotor Image and Health values-->
    <div class="image_infos">
      <div class="sr5-biomon-value sr5-biomon-name">
        {{this.name}}
      </div>
      <div class="sr5-biomon-image">
        <img src='{{this.image}}'>
      </div>
      <!--<div class="sr5-biomon-label track">
        Phys:
      </div>-->
      <div class="sr5-biomon-value sr5-biomon-track sr5-biomon-physik">
        {{this.physTrack.value}}
      </div>
      <!--<div class="sr5-biomon-label track">
        Stun:
      </div>-->
      <div class="sr5-biomon-value sr5-biomon-track sr5-biomon-stun">
        {{this.stunTrack.value}}
      </div>
    </div>
    <!--Status Section-->
    <div class="sr5-biomon-label">
      Status: 
    </div>
    
    {{#each this.statuses}}
    <div class="sr5-biomon-value sr5-biomon-effects">
      {{localize this.name }}
      <img src='{{this.img}}'>
      {{/each}}
    </div>
  <!--End Actor Section-->
    {{/each}}
  </div>
</div>