<div class="grid-monitor">
  <div class="sr5-biomon-header">
    <div class="image">
      <!--Image sr5-biomon-header-->
    </div>
    <div class="sr5-biomon-label">
      <!-- sr5-biomon-label sr5-biomon-header-->
      <h3>
        Biomonitor
      </h3>
    </div>
  </div>
  <!--Actor Part-->
  {{#each actors}}
  <div class="actors-box">
    <div class="sr5-biomon-sr5-biomon-label sr5-biomon-name start">
      Character: 
    </div>
    <div class="sr5-biomon-value sr5-biomon-name">
      {{this.sr5-biomon-name}}
    </div>
    <!--Acotor Image and Healthsr5-biomon-values-->
    <div class="image_infos">
      <div class="sr5-biomon-image">
        <img src='{{this.image}}'>
      </div>
      <!--<div class="sr5-biomon-label track">
        Phys:
      </div>-->
      <div class="sr5-biomon-value sr5-biomon-track sr5-biomon-physik">
        {{this.physTrack.sr5-biomon-value}}
      </div>
      <!--<div class="sr5-biomon-label track">
        Stun:
      </div>-->
      <div class="sr5-biomon-value sr5-biomon-track sr5-biomon-stun">
        {{this.stunTrack.sr5-biomon-value}}
      </div>
    </div>
    <!--Status Section-->
    <div class="sr5-biomon-label sr5-biomon-effects">
      Status: 
    </div>
    
    {{#each this.statuses}}
    <div class="sr5-biomon-value effects">
    {{this}}
    {{/each}}
    </div>
    
    {{/each}}
  </div>
</div>