<div class="grid-monitor">
  <div class="sr5-biomon-header">
    <div class="sr5-biomon-icon fas fa-heartbeat"></div>
    <div class="sr5-biomon-label-headerText">
      <!-- sr5-biomon-label sr5-biomon-header-->
        Biomonitor
        <div class="sr5-biomon-image-head">
          <!--Image sr5-biomon-header-->
        </div>
    </div>
  </div>
  <!--Actor Part-->
  <div class="sr5-biomon-header-box">
    <div class="sr5-biomon-label sr5-biomon-top">Character</div>
    <div class="sr5-biomon-label sr5-biomon-top">Statuses</div>
  </div>
  {{#each actors}}
    <div class="sr5-biomon-actors-box" actor-uuid="{{this.id}}">
      <!--Acotor Image-->
      <div class="image_infos">
        <div class="sr5-biomon-value sr5-biomon-name">
          {{this.name}}
        </div>
        <div class="sr5-biomon-image">
          <img src='{{this.image}}'>
        </div>
      </div>
      <!--Physikal Boxes-->
      <div class="sr5-biomon-track-container">
        {{#for 1 this.physTrack.value}}
        <div class="sr5-biomon-physik-filled sr5-biomon-track">
        </div>
          {{/for}}
          {{#for 1 this.physTrack.max-value}}
        <div class="sr5-biomon-physik sr5-biomon-track">
        </div>
          {{/for}}
        <!--Stun Boxes-->
          {{#for 1 (sum this.stunTrack.max 1)}}
        <div class="sr5-biomon-stun sr5-biomon-track" title='{{this.stunTrack.value}}'>
          {{this.stunTrack.value}}
        </div>
          {{/for}}
      </div>
      <!--Status Section sr5-biomon-label can be removed once statuses have be sorted-->     
      <div class="sr5-biomon-effects">
        {{#each this.statuses}}
        <div class="sr5-biomon-image-view">
          <img src='{{this.img}}' title='{{localize this.name}}'>
        </div>
        {{/each}}
      </div>
      <!--End Actor Section-->
    
    </div>
  {{/each}}
</div>